<h3>
  Donc sur cette page home je vais mettre un syteùe de connection ou d
  inscritpion en fron tiun de si lon est connecteé ou pas Page home
</h3>
<div class="home">
  <h2>Parite enregistrement de la piece</h2>
  <form [formGroup]="houseForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="piece" class="form-label">nombre de piece: </label>
      <input
        required
        id="piece"
        type="number"
        class="form-control ng-untouched ng-pristine ng-valid"
        formControlName="pieces"
      />
    </div>
    <div>
      <label for="bathroom" class="form-label">sdb: </label>
      <input
        required
        id="bathroom"
        type="number"
        class="form-control ng-untouched ng-pristine ng-valid"
        formControlName="bathroom"
      />
    </div>
    <div>
      <label for="livingRoom" class="form-label">salon: </label>
      <input
        required
        id="livingRoom"
        type="number"
        class="form-control ng-untouched ng-pristine ng-valid"
        formControlName="livingRoom"
      />
    </div>
    <div>
      <label for="wc" class="form-label">wc: </label>
      <input
        required
        id="wc"
        type="number"
        class="form-control ng-untouched ng-pristine ng-valid"
        formControlName="wc"
      />
    </div>
    <div>
      <label for="rooms" class="form-label">chambres: </label>
      <input
        required
        id="rooms"
        type="number"
        class="form-control ng-untouched ng-pristine ng-valid"
        formControlName="rooms"
      />
    </div>
    <p></p>
    <button class="btn btn-primary" [disabled]="!houseForm.valid">ciiii</button>
  </form>
</div>
<h1>app hompe editor</h1>
